.ficha {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: relative;
  z-index: 9998;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ficha::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: inset 0 2px 6px rgb(25, 1, 1),
    inset 0 -1px 1px rgba(255, 255, 255, 0.688);
  z-index: 9999;
}

.red {
  background-color: rgb(174, 30, 30);
}

.red_hover {
  background-color: rgba(174, 30, 30, 0.45);
}

.yellow {
  background-color: rgb(205, 205, 22);
}

.yellow_hover {
  background-color: rgba(205, 205, 22, 0.45);
}

.orange {
  background-color: rgb(156, 101, 0);
}

.orange_hover {
  background-color: rgba(156, 101, 0, 0.45);
}

.green {
  background-color: green;
}

.green_hover {
  background-color: rgba(0, 128, 0, 0.45);
}

.blue {
  background-color: rgb(0, 42, 159);
}

.blue_hover {
  background-color: rgba(0, 42, 159, 0.45);
}

.purple {
  background-color: purple;
}

.purple_hover {
  background-color: rgba(128, 0, 128, 0.45);
}

@media (width > 1440px) {
  .ficha {
    width: 95px;
    height: 95px;
  }

  .ficha::before {
    width: 75px;
    height: 75px;
  }
}
