.footer {
  position: absolute;
  z-index: 4;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
  background-color: rgba(255, 255, 255, 0.144);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_options {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  transition: transform 0.2s ease;
}

.btn_options:hover {
  transform: scale(1.1);
}

.active {
  display: block;
}

.disabled {
  display: none;
}

.container_modal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: rgba(0, 0, 0, 0.861);
  z-index: 3;
}

.modal_center{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div p{
  padding: 0 1rem;
}

div ul {
  padding: 0 2rem;
}
div ul li{
  list-style-type: circle;
  margin-bottom: .3rem;
}

.content_modal {
  min-width: 400px;
  max-width: 600px;
  min-height: 600px;
  max-height: 800px;
  padding: 4rem 1rem;
  border: 2px solid rgb(218, 218, 218);
  border-radius: 0.5rem;
  background: rgb(0, 56, 91);
  background: linear-gradient(
    0deg,
    rgb(113, 54, 99) 0%,
    rgba(0, 127, 153, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}

.btn_bgMusic {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  color: rgb(255, 255, 255);
}

.handleVolume {
  width: 200px;
  position: absolute;
  top: 100%;
  padding-top: .5rem;
}

.h3{
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  background: rgb(255, 255, 255);
  background-color: rgba(0, 56, 91, 0.600);
  color: white;
  padding: .6rem 1.2rem;
  border-radius: .3rem;
  cursor: pointer;
  transition: background-color .2s ease, color .2s ease;
  margin-bottom: 1rem;
}

.container_sounds{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
