@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&family=Teko:wght@300..700&display=swap');

.container{
    min-height: 100vh;
    background: rgb(92,164,169);
    background: linear-gradient(180deg, rgba(92,164,169,1) 0%, rgba(0,127,153,1) 100%);
    font-family: "Quicksand", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}